.Upload {
    min-width: 800px;
}
.Botton{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    font-size: 16px ;
    font-family: TISA,sans-serif,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.TopSpace{
    padding-top: 10px;
}

.Headline{
    color: #313746;
    align-self: center;
    font-weight: bold;
}

.Content {
    display: flex;
    flex-direction: column-reverse;
}

.remove-file {
    background: none;
    color: #404040;
    width: 10px;
    height: 19px;
    min-width: 10px;
    padding: 0px;
    cursor: pointer;
}

.Actions {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 32px;
}

.Title {
    margin-bottom: 32px;
    color: #404040;
}

.Filename {
    font-size: 16px;
    color: #404040;
}

.Row {
    margin-top: 10px;
    border: 1px solid #313746;
    max-width: 310px;
    align-items: center;
    border-radius: 7px;
    margin-bottom: 10px;
    display: flex;
    padding: 5px 12px;
    align-items: center;
    justify-content: space-between;
}

.CheckIcon {
    opacity: 0.5;
    margin-left: 32px;
}


.ProgressWrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.upload {
    font-family: "Roboto medium", sans-serif;
    font-size: 14px;
    display: inline-block;
    height: 40px;
    min-width: 100px;
    padding: 6px 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    border-radius: 2px;
    background: #313746;
    color: #fff;
    outline: 0;
    border-radius: 7px;
}

button:disabled {
    background: rgb(189, 189, 189);
    cursor: default;
}

