body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
    color: #fff;
    backgroundColor: #313746;
    borderColor: #313746;
    marginRight: 10px;
}
#delete{
    color: #313746;
}

#table {
    width: auto;
    border: 1px solid #313746;
}
.insertTable{
    display: inline-block;
}
.text{
    color:#313746;
}